# Ignore everything
*

# But do NOT ignore the subdirectories themselves
!*/

# Now un-ignore the contents of these specific folders
!templates/*
!private/*
!public/*

# Keep the gitignore itself
!.gitignore